<script>
/*
  Indendificação de browser
*/
var detectBrowser = navigator.userAgent.match(/(opera|chrome|safari|firefox|msie|Trident)\/?\s*(\.?\d+(\.\d+)*)/i);
// Trident --> Internet Explorer geral, exceto para Edger.
if(detectBrowser[1] == "Trident"){
  var body_ = document.getElementsByTagName("body")[0];

  var msg_ = "<div style='display:table;margin:auto'>";
  msg_ += "<h2>Atenção!</h2>";
  msg_ += "<p>Seu navegador não suporta os recursos deste curso. <br> Experimente um dos navegadores abaixo:</p>";
  msg_ += "<ul style='padding:10px'> <li><a href='https://www.google.com/chrome/'>Google Chrome</a></li> <li><a href='https://www.mozilla.org/pt-BR/firefox/'>Firefox</a></li> <li><a href='https://www.opera.com/pt-br/download'>Opera</a></li> </ul>";
  msg_ += "</div>";

  body_.innerHTML = msg_;
}
/*
  Fim - Indendificação de browser
*/
</script>